# Code owners for Phorge.
# These owners are requested for review on any PR touching matching paths.
# Docs: https://docs.github.com/articles/about-code-owners

# Default owner for everything in the repo.
*       @tmessaoudi-official
